Hostname = ${GAME_SERVER_HOST}
GameserverHostname = *
GameserverPort = 7777
LoginHost = login-server
LoginPort = 9014
RequestServerID = 1
AcceptAlternateID = False
UseBlowfishCipher = True

sql.url = ${DB_URL}
sql.login = ${DB_USER}
sql.password = ${DB_PASSWORD}

CnameTemplate = .*
DonateCnameTemplate = .*
TitleTemplate = .*
PetNameTemplate = .*
ClanAllyNameTemplate = .*
ServerListBrackets = False
ServerListClock = False
ServerGMOnly = False
DeleteCharsAfterDays = 7
MaximumOnlineUsers = 2000

# Server-side account API. Disabled by default; expose it only behind a TLS reverse proxy.
AccountApiEnabled = False
AccountApiHost = 127.0.0.1
AccountApiPort = 9090
AccountApiRateLimit = 20
AccountApiSessionTtlMs = 86400000
AccountApiAllowedOrigins =
