Hostname = ${GAME_SERVER_HOST}
GameserverHostname = *
GameserverPort = 7777
LoginHost = login-server
LoginPort = 9014
RequestServerID = 1
AcceptAlternateID = False
UseBlowfishCipher = True

sql.url = ${DB_URL}
sql.login = ${DB_USER}
sql.password = ${DB_PASSWORD}

CnameTemplate = .*
DonateCnameTemplate = .*
TitleTemplate = .*
PetNameTemplate = .*
ClanAllyNameTemplate = .*
ServerListBrackets = False
ServerListClock = False
ServerGMOnly = False
DeleteCharsAfterDays = 7
MaximumOnlineUsers = 2000

# Server-side account API. Disabled by default; expose it only behind a TLS reverse proxy.
AccountApiEnabled = ${ACCOUNT_API_ENABLED}
AccountApiHost = ${ACCOUNT_API_HOST}
AccountApiPort = ${ACCOUNT_API_PORT}
AccountApiRateLimit = ${ACCOUNT_API_RATE_LIMIT}
AccountApiSessionTtlMs = ${ACCOUNT_API_SESSION_TTL_MS}
AccountApiAllowedOrigins = ${ACCOUNT_API_ALLOWED_ORIGINS}
AccountApiAllowInsecureBind = ${ACCOUNT_API_ALLOW_INSECURE_BIND}
